<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Nooljs - Data driven ( MsSql,MySql, MongoDb, and PostgreSql) full stack  Javascript framework powered by Nodejs, Anjularjs, Express and Socket-io </title>
    <meta name="description" content=" Data driven ( MsSql,MySql, MongoDb, and PostgreSql) full stack  Javascript  framework powered by Nodejs, Anjularjs, Express and Socket-io">
    <meta name="keywords" content="Nodejs, Node, Express, socket-io, Full stack, framwork, database, JavaScript, mysql,msSql,  sql server, postgresql, MongoDB">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Nooljs</h1>
      <h2 class="project-tagline"> Data driven ( MsSql,MySql, MongoDb, and PostgreSql) full stack javascript framework  built top of the nodejs, npm, express, socketio, and  anjularjs</h2>
      <a href="https://github.com/nooljs/nooljs" class="btn">View on GitHub</a>
      <a href="https://github.com/nooljs/nooljs/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/nooljs/nooljs/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Welcome to nooljs (Beta)</h3>

<p>Full stack JavaScript framework built using famous open sources libraries  Nodejs, Anjularjs, expressjs, and socket-io.

<ul>
  <li>Easy to build complex data driven JavaScript applications with minimum coding.</li>
  <li>Support multiple data connections suck as Ms-sql, MySQL, PostgreSQL, and Mondodb.</li>
   <li>Real time framework build top of Express-js and Socket-io</li>
  <li>The client side is powered by the Anjularjs. The layout can be build using the Anjularjs tags and elements.</li>
   <li>Modularized layout to simplify the complex web pages.</li>
   <li>Can be mixed both Express-js and Socket-io</li>
</ul>

</p>
<h3>
<a id="Quick Start" class="anchor" href="#Quick Start" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Quick Start
   </h3>
   
<ol>
  <li> Install nooljs with npm
  <p>
   <code> $ npm install nooljs -g </code> 
   </p>
   </li>
  <li>  Create new nooljs project by running command
    <pre>
      $ nooljs
    </pre>
   <p>
      It will ask project name. enter the project name( example testprj). It will create new folder for the project and sample application.
   </p>
   </li>
  <li>  Go the new  project folder
    <pre>$ cd testproj </pre>
 </li>
  <li> Update the npm dependency packages

   <pre>npm  update </pre> </li>
  <li> Run the application

   <pre>node app.js</pre> </li>
</ol>
 <h2>
 <a id="Documentation" class="anchor" href="#Documentation" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Documentation
   </h2>
   
   <h4>
 <a id="Folder Structure" class="anchor" href="#Folder Structure" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Folder Structure
   </h4>
   
   <ul>
     <li>config -- Configuration folder </li>
     <li> layout - Contains all the layout files </li>
     <li> public -- Public files ( js, image) </li>
     <li> server -- All the server side JavaScript files </li>
     <li> servermethod -- Put all the server methods here  </li>
   </ul>
   
      <h4>
 <a id="Layout" class="anchor" href="#Layout" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Layout
   </h4>
<p>
The Layout is heart of the nooljs project.  Each page/module of the application can be defined as layout.
    It should be keep inside the layout folder.
</p>
 
   <pre>
    &lt;nl-template id="store-edit-template" nl-permission="store-edit" nl-parent="main-content" &gt;
    &lt;/nl-template&gt;
    &lt;nl-server-script&gt;
    &lt;/nl-server-script&gt;
   &lt;nl-client-script&gt;
     </pre>
 
 <p>
    The layout file contains three parts : 
    <ul> 
    <li>nl-template - HTML template for this module.</li>
    <li> nl-server-script -  Sever side JavaScript  code for this module</li>
    <li>nl-client-script - Client side JavaScript  code for this module</li>
    </ul>
 </p>
 
     <h4>
 <a id="nl-template" class="anchor" href="#nl-template" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>nl-template
   </h4>
   
   <pre>
    &lt;nl-template id="store-edit-template" nl-permission="store-edit" nl-parent="main-content" &gt;
      ... your html code for this template here .....
    &lt;/nl-template&gt;
     </pre>
     
       <h4>
 <a id="Getting data from database" class="anchor" href="#Getting data from database" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a> Getting data from database ( nl-db-data )
   </h4>
     
    <p>
     Getting the data from database/server and injecting into HTML template can be easily done without writing code or with minimum code. Nooljs will do all the magic of executing database query, passing the parameter between client and server, getting the result from server, and binding to the HTML template. It is designed to support any type of database or file system.
      </p>
      
        <pre>
           &lt;ion-list nl-db-data="exec Nodejs_GetUserAccountWithStore {{user.UserId}}"  nl-db-model="accounts" 
           nl-client-post-data="assignDefaultAccount"   nl-websocket ="false" &gt;
        &lt;ion-item ng-repeat="x	in accounts" menu-close &gt;
         &lt;span nl-click-redirect="{'url':'store-edit-template' ,  'params':{'AccountKey':'account.AccountKey', 'StoreId':'x.StoreId'}}" &gt;
         {{x.StoreName}}  
         &lt;/span&gt;
		   &lt;button class="button button-clear"  
		   nl-click-redirect="{'url':'store-times' ,  'params':{'AccountKey':'account.AccountKey', 'StoreId':'x.StoreId'}}" &gt;Store time
		   &lt;/button&gt;
        &lt;ion-item&gt;
		    &lt;/ion-list&gt;
        </pre>
    <p>
       <ul>
         <li>
           nl-db-data  :  This contains the executing data query. The parameters are getting from Anjularjs tag or scope. The connection for the database is defined in the default connection at the config section.
           </li>
         <li>
           nl-db-model  : The result of the executing query will be stored into this Anjularjs model. The data can access in the client side using Ajularjs scope.
           </li>
         <li> 
          nl-client-post-data : The name of the client side of function which will be executed after result received in the client. This is optional attribute.
           </li>
         
          <pre>
            <code>
              &lt;nl-client-script&gt;
                {
                  assignDefaultAccount:function ($scope)
                  {
                  console.log(" enter assignDefaultAccount  function ");
                     if($scope.accounts && $scope.accounts.length > 0)
                	 {
                	  console.log(" enter assignDefaultAccount  function  assigen Account "+  $scope.accounts[0]);
                		$scope.$root.account = $scope.accounts[0];
                	 }
                  }
                  }
              &lt;/nl-client-script&gt;
            </code>
          </pre>
         </li>
         <li> 
           nl-websocket  :  This attribute is used to enable or disable Websocket for this query. This is optional attribute.  
           </li>
       </ul>
    </p>
    
      <h4>
 <a id="Getting data from server" class="anchor" href="#Getting data from server" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>  Getting data from server (nl-server-data )
   </h4>
     
    <p>
   nl-server-data is similar to the nl-db-data, but it is advanced and flexible method to injecting the server side data into HTML template.
   </p>
      
              <pre>
           &lt;ion-list nl-db-data="validateLogin"  nl-db-model="accounts" nl-client-post-data="assignDefaultAccount"   
           nl-websocket ="false" &gt;
        &lt;ion-item ng-repeat="x	in accounts" menu-close &gt;
         &lt;span nl-click-redirect="{'url':'store-edit-template' ,  'params':{'AccountKey':'account.AccountKey', 'StoreId':'x.StoreId'}}" &gt;
         {{x.StoreName}}  
         &lt;/span&gt;
		   &lt;button class="button button-clear"  
		   nl-click-redirect="{'url':'store-times' ,  'params':{'AccountKey':'account.AccountKey', 'StoreId':'x.StoreId'}}" &gt;
		   Store time
		   &lt;/button&gt;
        &lt;ion-item&gt;
		    &lt;/ion-list&gt;
        </pre>
 
       <ul>
         <li>
           nl-server-data  :  This contains name of the server side function and it should be inside the "nl-server-script" tag.
         </li>
         <li>
           nl-db-model  :The result of the executing query will be stored into this Anjularjs model. The data can access in the client side using Ajularjs scope.
           </li>
         <li> 
          nl-client-post-data :  The name of the client side of function which will be executed after result received in the client. This is optional attribute.
          </li>
         </ul>
      
      <pre>
      	<code>
      		&lt;nl-server-script&gt;
{
  validateLogin:
  {
       model:"item",
	server:function($scope)
	{
	 // $scope contains all the input values and add return values in to the scope  variable
	   // place server  side code here
	   // return  true if you want to execute db and post functions 
	   //return false  if you want to skip execution of  rest of functions
		return true;
		  
	},
        db:
	{
		query:"procedure=usp_LoginUser;userName=VarChar(255):{{login.username}},password=VarChar(255):{{login.password}} ,
		applicationName=VarChar:'StoreAdmin',clientIp=VarChar:'',userAgentString=VarChar:'' ",
		resultType:"single"
	}
	post:function($scope)
	{
	   // place  post server  side code here 
	   // $scope contains all the result from "server" and db functions.
	   // you can modify "server" and "db" results here.
	},
  }
}
&lt;/nl-server-script&gt;
      	</code>
      </pre>
      <p> Execution flow : server() --> db() --> post() -->nl-client-post-data ( client side) </p>
      
 
      <h4>
 <a id="Executing click event at server " class="anchor" href="#Executing click event at server" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a> Executing click event  in the server side ( nl-server-click )
   </h4>
   <p>
   	The  nl-server-click attribute uses for the firing the click event  at server side.
   </p>
   <pre>
   	<code>
   		  &lt;button  id="category-edit-save"  nl-server-click ="saveCategory"
	 nl-redirect="{'url':'category-template', 'cond':'categorySaveResult.Status == 0', 'params':{'AccountKey':'account.AccountKey'}}"  &gt;
		 save
		&lt;/button&gt;
   	</code>
   </pre>
   
   <ul>
   	<li> nl-server-click - This will fire click event at server side function "saveCategory"</li>
   	<li> nl-redirect - (Optional) This will fire after executing server side function. This is used for redirecting to different template.</li>
   </ul>
   
   <pre>
   	<code>
   		&lt;nl-server-script&gt;
{
  saveCategory:
  {
	model:"categorySaveResult",
	db:
	{
		query:"exec [usp_SaveCategory] {{AccountKey}} , {{category.CategoryId}},  'null', {{category.CategoryName}} ,  
		{{category.Description}} ",
		resultType:"single"
	}
  }
}
&lt;/nl-server-script&gt;

   	</code>
   </pre>
     <p> Execution flow : server() --> db() --> post() -->nl-client-post-data ( client side) --> nl-redirect</p>
   
     <h4>
 <a id="Executing click event at Database " class="anchor" href="#Executing click event at Database" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a> Executing click event  at Database ( nl-db-click )
   </h4>
   <p>
   The nl-db-click is similar to the nl-server-click but you can directly specify database query.
   </p>
   <pre>
   	<code>
   		  &lt;button  id="category-edit-save"  
   		  nl-db-click =""exec [usp_SaveCategory] {{AccountKey}} , 
   		  {{category.CategoryId}},  'null', {{category.CategoryName}} ,  {{category.Description}} "
	 nl-redirect="{'url':'category-template', 'cond':'categorySaveResult.Status == 0', 'params':{'AccountKey':'account.AccountKey'}}"  &gt;
		 save
		&lt;/button&gt;
   	</code>
   </pre>  
   
     <h4>
 <a id="Redirect Event" class="anchor" href="#Redirect Event" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a> Redirect Event (nl-click-redirect)
   </h4>
   
   <pre>
   	<code>
   	&lt;button   nl-click-redirect="{'url':'category-template', 'params':{'AccountKey':'account.AccountKey'}}"&gt;Items&lt;/button&lt;
   	</code>
   </pre>
   
       <h4>
 <a id="Login Process at server" class="anchor" href="#Login Process at server" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Login Process at server (nl-server-login)
   </h4>
    <p>
    The nl-server-login attribute is used for the login process. It is similar to the nl-server-click.
    </p>
       	<pre>
       		<code>
       		    &lt;button  nl-server-login="validateLogin"
			 nl-redirect="{'url':'main-template'}"  id="login-submit"&gt;
  Login
&lt;/button&gt;	
       		</code>
       	</pre>
       	
       	<p>
       		The UserId field should be defined  in cofig/config.json file. if userId value is grater than zero then login is successful and direct to the new template given in nl-redirect attribute.

       	</p>
       	<pre>
       		<code>
       		  &lt;nl-server-script&gt;
{
  validateLogin:
  {
	server:function($scope)
	{
		if(!$scope || !$scope.login || !$scope.login.username || !$scope.login.password )
		{
		     $scope.$root._error = {code:"INVALID_USER", message:"Invalid user information."};
			 return false;
		}
		return true;
		  
	},
    db:
	{
		query:"procedure=usp_LoginUser;userName=VarChar(255):{{login.username}},password=VarChar(255):{{login.password}} ,
		applicationName=VarChar:'StoreAdmin',clientIp=VarChar:'',userAgentString=VarChar:'' ",
		resultType:"single"
	}
    post:function($scope){
        // code for the post longin
        
        //return false for the failure
        return true;
    }
  }
}
&lt;/nl-server-script&gt;
</code>
</pre>

<h4>
 <a id="Login using Database" class="anchor" href="#Login using Database" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Login using Database (nl-db-login)
   </h4>
   
   <p>
     The nl-db-login is similar to the nl-server-login, but the database query can be specify directly without creating server side functions.
       </p>
   	<pre>
       		<code>
       		    &lt;button  nl-db-login="procedure=usp_LoginUser;userName=VarChar(255):{{login.username}},
       		    password=VarChar(255):{{login.password}} ,applicationName=VarChar:'StoreAdmin',clientIp=VarChar:'',
       		    userAgentString=VarChar:'' "
			 nl-redirect="{'url':'main-template'}"  id="login-submit"&gt;
  Login
&lt;/button&gt;	
       		</code>
       	</pre>
       	
  <h4>
 <a id="Permission" class="anchor" href="#Permision" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Permission (nl-permission)
   </h4>
   
   <p>
     The nooljs uses permission based authorization. The  nl-permission  attribute contains the name of the permission. It should  be defined start of the template file  with nl-template attribute.
     If given user does not have permission for given name then  this template won't be loaded into the client.
     If nl-permission is empty then this template is public template.
   </p>
   <pre>
   	<code>
   	   &lt;nl-template id="main-template" nl-permission="main" nl-parent="top-content"&gt;	
   	</code>
   </pre>
    <p>
     All the permissions for this application can be load from file or database. The config/config.json defines the connection  to load all the permissions for this application.  	
   </p>
   
    <p> Sample config/config.json file</p>
   <pre>
   	<code>
   	   {	"userid" : "UserId",
  		"sessionTimeoutMinutes":60,
  		"logout":"login",
 		"defaultConnection": "sqlConn",
 		<div style="background:yellow">
		"permission": {
	 		"connection":"jsonFile",
	 		"query" : "config/permision.json",
	 		"errorMessage": " You do not have permission to view this session."
			}
		  </div>
		}
   	</code>
   </pre>
   
   <p> Sample permission.json file</p>
   <pre>
   	<code>
   	[ {	"userKey":"RoleName",
		"userValue" :"Admin",
		"permission" :"*"
	},
   	{ 	"userKey": "RoleName",
    		"userValue" :"StoreUser",
		"permission" :["main", "item", "category", "store","store-edit",
				"item-edit", "category-edit", "store-times" , "store-times-edit"]
   	},
    	{ 	"userKey": "RoleName",
    		"userValue" :"StoreManager",
		"permission" :["item", "category","store", "item-edit", "category-edit", "store-edit"]
   	}
   ]
   	</code>
   </pre>
   <ul>
   	<li>
   		userKey - The userkey should be  member name of the user object which returns from nl-db-login or nl-server-login
   	</li>
   	<li>
   		userValue - The userValue should  be member  value for given userKey in the user object which returns from nl-db-login or nl-server-login
   	</li>
   	<li>
   	permission - Allowed permissions for the given userKey and userVaqlue. * - allowed all the permissions.
   	</li>
   </ul>
   
    <h4>
 <a id="Default template" class="anchor" href="#Default template" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Default template (nl-default-template)
   </h4>
        <pre>
   	<code>
   	   &lt;ion-content id="main-content" nl-default-template="store-template"&gt;
   	</code>
   	</pre>
   
   <h4>
 <a id="Express-Socketio" class="anchor" href="#Express-Socketio" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Switching between Express  and Socket-io
   </h4>
     <p> The switching between Express and Socket-io is really easy using nooljs framework. Even you can easily mix both frameworks within application.
     </p> 
    <h4>
    	
    	<p>  client.js( inside public/js/client.js )</p>
    	<pre>
    		<code>
    		var app = angular.module('myApp', ['nooljs', 'ionic']);

		app.run(['nlUtil', function (nlUtil) {
			nlUtil.useWebsocket(true);
		}]);

    		</code>
    	</pre>
    	
    	<p> Turn off or turn on  socket-io for the given data/layout  injection</p>
    	<pre>
    		<code>
    	  &lt;ion-list nl-db-data="exec Nodejs_GetUserAccountWithStore {{user.UserId}}"  nl-db-model="accounts" 
           nl-client-post-data="assignDefaultAccount"  <span style="background:yellow"> nl-websocket ="false" </span> &gt;		
    		</code>
    	</pre>
    	
    		<h4>
 <a id="Server Method" class="anchor" href="#Server Method" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Server Method
   </h4>
   
   <p> Executing the server method inside the any client side JavaScript function is really easy.</p>
   
   <p> index.html</p>
   <pre>
   	<code>
   &lt;body ng-controller="myController"&gt;this is test
 &lt;div id = "top-content" nl-default-template="login" nl-websocket ="false"&gt; 
 &lt;/div&gt;
 &lt;input type="button" ng-click="onclick()" value="call server method" /&gt;
 &lt;div&gt;{{serverResult}}&lt;/div&gt;
 &lt;/body&gt;
   	</code>
   </pre>
   
   <p> client.js ( client side JavaScript)</p>
   
   <pre>
   	<code>
   		app.controller("myController",['nlServerMethods', '$scope', function(nlServerMethods, $scope)
{
	$scope.serverResult= "my result";
	$scope.onclick= function(){
	 <span style="background:yellow">nlServerMethods.exec( "myMethods.myServerMethod1", "First", "parameter") </span>
		.then(function(data){
			$scope.serverResult = "data :" + data.data + " , error :"  + data.error;
		})
		.catch(function (err)
		{
			$scope.serverResult = " error :" + err;
		});
	};
}]);
   	</code>
   </pre>
   
   <p> Server method should be inside /ServerMethod folder (/ServerMethod/myMethods.js) </p>
   <pre>
   	<code>
   		{
	myServerMethod1:
	{
		"permission":"myServerMethod1", 
		"method":function( name, value){
			return "hello - from method 1 " + name + " " + value;
		}
	},
	myServerMethod2:
	{
		"permission":"myServerMethod2",
		"method":function( name){
			return "hello -- from method 2 " + name ;
		}
	}
}
   	</code>
   </pre>
    	
    	<h4>
 <a id="Data Connection" class="anchor" href="#Data Connection" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Data Connection
   </h4>
        <p>
        The development of complex data driven application can be done easily using the nooljs framework. Nooljs is design to support all kinds of database. It is currently support Ms-sql, Mysql, Mongodb, Postgresql, and Json file. Other data bases will be supported very soon.
        </p>
        <p>
        All the connection strings are defined in the config/connection.json file. The default connection for the application is defined in the config/config.json file.    </p>
        
     <h4>
 <a id="Ms-sql" class="anchor" href="#Ms-sql" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Ms-sql
   </h4> 
   
   <p>
   	Thanks to  <a href="https://github.com/LeanKit-Labs/seriate">Seriate </a> for creating wonderful  Microsoft SQL Server cross platform node module.
   </p>
     <p>Using stored procedure:</p>
    <pre>
    	<code>
    	 " procedure=[usp_SaveStoreTime];StoreId=VarChar(50):{{StoreId}} ,StoreOperationTimeId=VarChar(50):{{StoreTime.StoreOperationTimeId}},IsDate=VarChar(50):{{StoreTime.IsDate}},IsSunday=VarChar(50):{{StoreTime.IsSunday}},IsMonday=VarChar(50):{{StoreTime.IsMonday}},IsTuesday=VarChar(50):{{StoreTime.IsTuesday}},IsWednesday=VarChar(50):{{StoreTime.IsWednesday}},IsThursday=VarChar(50):{{StoreTime.IsThursday}},IsFriday=VarChar(50):{{StoreTime.IsFriday}},IsSaturday=VarChar(50):{{StoreTime.IsSaturday}},Date=VarChar(50):{{StoreTime.Date}},OpeningTime=VarChar(50):{{StoreTime.OpeningTime}},CloseTime=VarChar(50):{{StoreTime.CloseTime}}"
            	
    	</code>
    </pre>
    
    <p> Using query string :</p>
    <pre>
    	<code>
    	  "select * from stores where storeid =@StoreId and StoreOperationTimeId=@StoreOperationTimeId;StoreId=VarChar(50):{{StoreId}} ,StoreOperationTimeId=VarChar(50):{{StoreTime.StoreOperationTimeId}}"
        	
    	</code>
    </pre>
    
      <h4>
   <a id="Mysql" class="anchor" href="#Mysql" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Mysql
   </h4> 
      <p>
   	Thanks to  <a href="https://www.npmjs.com/package/mysql">mysql </a> for creating wonderful Mysql cross platform node module.
   </p>
   <pre>
   	<code>
  &lt;nl-template id="mysql-template"  nl-parent="mysql-content"&gt;
    &lt;h1&gt;my sql data&lt;/h1&gt;
    &lt;ion-list nl-server-data="getData" &gt;
        &lt;ion-item class="item" ng-repeat="x	in models"&gt;
           {{x.rowidx}} - {{x.name}} - {{x.description}}
      &lt;/ion-item&gt;
    &lt;/ion-list&gt;
&lt;/nl-template&gt;
&lt;nl-server-script&gt;
    {
        getData:
        {
            model:"models",
            db:
            {
                query:"select rowidx, name, description, isactive  from demo.test where isactive  =?;[0]",
                connection:"mysqlConnection"
            }
        }
    }
 &lt;/nl-server-script&gt;
   	</code>
   </pre>
   
      <h4>
   <a id="Mongodb" class="anchor" href="#Mongodb" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Mongodb
   </h4> 
   
    <p>
   	Thanks to  <a href="https://www.npmjs.com/package/mongodb">mongodb </a> for creating wonderful Mongodb cross platform node module.
   </p>
   
   <pre>
   	<code>
   		&lt;nl-template id="mongodb-template"  nl-parent="mongodb-content"&gt;
    &lt;h1>mondodb sql data&lt;/h1&gt;
    &lt;ion-list nl-server-data="getData" &gt;
        &lt;ion-item class="item" ng-repeat="x	in models"&gt;
           {{x.id}} - {{x.name}}
      &lt;/ion-item&gt;
    &lt;/ion-list&gt;
&lt;/nl-template&gt;
&lt;nl-server-script&gt;
    {
        getData:
        {
            model:"models",
            db:
            {
                query:"cols=test;fun=find;params={\"active\":1}",
                connection:"mongodbConnection"
            }
        }
    }
&lt;/nl-server-script&gt;
   	</code>
   </pre>
   
      <h4>
   <a id="Postgresql" class="anchor" href="#Postgresql" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span></a>Postgresql
   </h4> 
   
    <p>
   	Thanks to  <a href="https://www.npmjs.com/package/pg">pg </a> for creating wonderful Postgresql cross platform node module.
   </p>
   
   <pre>
   	<code>
  &lt;nl-template id="postgresql-template"  nl-parent="postgresql-content"&gt;
    &lt;h1>postgre sql data&lt;/h1&gt;
    &lt;ion-list nl-server-data="getData" &gt;
        &lt;ion-item class="item" ng-repeat="x	in models"&gt;
           {{x.id}} - {{x.name}}
      &lt;/ion-item&gt;
    &lt;/ion-list&gt;
&lt;/nl-template&gt;
&lt;nl-server-script&gt;
    {
        getData:
        {
            model:"models",
            db:
            {
                query:"select name, active, id from tblname where active  =$1;[0]",
                connection:"postgresqlConnection"
            }
        }
    }
&lt;/nl-server-script&gt;
   	</code>
   </pre>
   
<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Support or Contact</h3>
<p> If you need any help or bug fixing, please contract to cgkrish@hotmail.com</p>   
<!--
<h3>
<a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Designer Templates</h3>

<p>We’ve crafted some handsome templates for you to use. Go ahead and click 'Continue to layouts' to browse through them. You can easily go back to edit your page before publishing. After publishing your page, you can revisit the page generator and switch to another theme. Your Page content will be preserved.</p>

<h3>
<a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Creating pages manually</h3>

<p>If you prefer to not use the automatic generator, push a branch named <code>gh-pages</code> to your repository to create a page manually. In addition to supporting regular HTML content, GitHub Pages support Jekyll, a simple, blog aware static site generator. Jekyll makes it easy to create site-wide headers and footers without having to copy them across every page. It also offers intelligent blog support and other advanced templating features.</p>

<h3>
<a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>You can <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/#mentioning-users-and-teams" class="user-mention">@mention</a> a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor’s GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>

<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>Having trouble with Pages? Check out our <a href="https://help.github.com/pages">documentation</a> or <a href="https://github.com/contact">contact support</a> and we’ll help you sort it out.</p>
-->
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/nooljs/nooljs">Nooljs</a> is maintained by <a href="https://github.com/nooljs">Chandru Krishnar</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
